<div class="about-content">
    <h1><u>About Food_Pack</u></h1>
    <div class="paragraphs">
        <p>Open your browser and navigate to localhost:4200 and
             confirm that the app builds without error and displays Hello world 
             in the title and body of your app:</p>
             <p>Open your browser and navigate to localhost:4200 and
                confirm that the app builds without error and displays Hello world 
                in the title and body of your app:</p>
                <p>Open your browser and navigate to localhost:4200 and
                    confirm that the app builds without error and displays Hello world 
                    in the title and body of your app:</p>
    </div>
</div>
