<div class="contact-container">
    <div class="content-container">
        <h2><u>Clients and investors can get intouch through;</u></h2>
        <div class="clients">
            <h3>Client</h3>
            <img src="assets/img/specials-4.jpg" alt="clients-img">
            <p>Want to get the offers, contact the number below</p>
            <p>Company Email:<a href="mailto:food_pack254@gmail.com">food_pack254@gmail.com</a></p>
            <p>Products Office Number:<a href="tel:0742325622">0742325622</a></p>
        </div>
        
        <div class="investors">
            <h3>Investors</h3>
            <img src="assets/img/specials-4.jpg" alt="investors-img">
            <p>Love and, Want to have a share and invest in the company</p>
            <p>Manager Office Email:<a href="mailto:food_pack254inves@gmail.com">food_pack254inves@gmail.com</a></p>
            <p>Office Number:<a href="tel:0742325622">0742325622</a></p>
        </div>
           
        
    </div>
</div>
<app-footer></app-footer>