<div class="collection-container">
   <h1>Our Collection</h1> 
    <div class="collection-content">
        <div class="content-item">
            <h3></h3>
            <img src="assets/img/specials-4.jpg" alt="e">
            <h3><a href="collection">Traditional</a></h3>
        </div>
        <div class="content-item">
            <h3></h3>
            <img src="assets/img/specials-4.jpg" alt="e">
            <h3><a href="collection">Modern Foods Pack</a></h3>
        </div>
    </div>
    <div class="collection-paragraph">
          <h4><u>Details</u> </h4>
        <p>Open your browser and navigate to localhost:4200 and 
            confirm that the app builds without
             error and displays Hello world in the title and body of your app:</p>

             <p>Open your browser and navigate to localhost:4200 and 
                confirm that the app builds without
                 error and displays Hello world in the title and body of your app:</p>

                 <p>Open your browser and navigate to localhost:4200 and 
                    confirm that the app builds without
                     error and displays Hello world in the title and body of your app:</p>
                     
    </div>
</div>
