<div class="container">
    <div class="container-content">
        <div class="main-image">
            <img src="assets/img/specials-4.jpg" alt="main">
            <!-- <p>image</p> -->
        </div>
        <div class="main-content">
            <h1>Health promoter.Improve</h1>
            <h3><u>Fruity Sale</u></h3>
            <p>In this lesson, you updated a default Angular app to display Hello. 
                 In the process, you learned about the ng serve  command to 
                 serve your app locally for testing.In this lesson, you updated a default Angular app to display Hello.
                 In this lesson, you updated a default Angular app to display Hello.In this lesson, you updated a 
                 default Angular app to display Hello.In this lesson, you updated a default Angular app to display Hello.
                 </p>
                 
                 
            <button class="btn1">Summary</button>
        </div>
    </div>
</div>
